<configuration>

	<!-- logをファイルに出力 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/Users/kawata_yusuke/git/relation_resolver/java_relation_searcher/logs/app.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- -->
			<fileNamePattern>/Users/kawata_yusuke/git/relation_resolver/java_relation_searcher/logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>[%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}] %class - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<!-- logにファイル依存関係結果を出力 -->
	<appender name="RESULT_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/Users/kawata_yusuke/git/relation_resolver/java_relation_searcher/logs/result/result.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/Users/kawata_yusuke/git/relation_resolver/java_relation_searcher/logs/result/result.%d{yyyy-MM-dd_HH-mm}.log
			</fileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%msg%n</Pattern>
		</encoder>
	</appender>

	<!-- logにファイルに呼び出しのないメソッド情報を出力 -->
	<appender name="NO_INVOKER_METHOD_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/Users/kawata_yusuke/git/relation_resolver/java_relation_searcher/logs/result/no_invokers.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/Users/kawata_yusuke/git/relation_resolver/java_relation_searcher/logs/result/no_invokers.%d{yyyy-MM-dd_HH-mm}.log
			</fileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%msg%n</Pattern>
		</encoder>
	</appender>

	<!-- logにファイルに呼び出しのないクラス情報を出力 -->
	<appender name="NO_INVOKER_CLASS_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/Users/kawata_yusuke/git/relation_resolver/java_relation_searcher/logs/result/no_invokers_class.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/Users/kawata_yusuke/git/relation_resolver/java_relation_searcher/logs/result/no_invokers_class.%d{yyyy-MM-dd_HH-mm}.log
			</fileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%msg%n</Pattern>
		</encoder>
	</appender>

	<!-- logを標準出力に出力 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<Pattern>[%-5level] %class - %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="RESULT" level="INFO">
		<appender-ref ref="RESULT_FILE" />
	</logger>

	<logger name="NO_INVOKER" level="INFO">
		<appender-ref ref="NO_INVOKER_METHOD_FILE" />
	</logger>

	<logger name="NO_INVOKER_CLASS" level="INFO">
		<appender-ref ref="NO_INVOKER_CLASS_FILE" />
	</logger>

	<!-- ログ出力に関する設定 -->
	<root>
		<level value="info" />
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>